body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffef;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(246, 246, 246, 0.8);
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #007bff;
    color: #f6f4df;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.ProdAdd {
    display: none;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fffefbf4;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(246, 246, 246, 0.8);
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    font-weight: bold;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #f9f9f9; /* Cor da borda */
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
}

.delete-image {
    width: 14px;
    height: 14px; 
    cursor: pointer;
    border: none; 
    background-color: transparent; 
}

.delete-image:hover {
    opacity: 0.7; 
}

.delete-image:active {
    transform: scale(0.9);
}
